/* Global styles section */

* {
  margin: 0;
  padding: 0;
}

/* Body styles section */

body {
  font-family: sans-serif;
}

/* Nav styles section */

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #a517ba, orange);
}

.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff;
  font-size: 30px;
}

.navbar-toggler {
  outline: none;
}

/* Banner styles */

#banner {
  background-image: linear-gradient(to right, #a517ba, orange);
  color: #fff;
  padding-top: 5%;
}

.promo-title {
  font-size: 40px;
  font-weight: 600px;
  margin-bottom: 30px;
}

.play-btn {
  width: 45px;
  margin: 20px;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

.bottom-img {
  width: 100%;
}

figcaption {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

/* Service styles section */

#services {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
}

.services-container {
  margin-top: 50px;
}

.service-img {
  max-width: 100px;
  margin-top: 20px;
  border-radius: 30%;
  height: auto;
  margin-bottom: 20px;
}

.services {
  padding: 20px;
}

.services p {
  font-size: 16px;
  line-height: 1.6;
}

.services h4 {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
}

.title::before {
  content: "";
  background-color: #7b1798;
  height: 5px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background-color: #7b1798;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a517ba, orange);
  color: #fff;
  text-align: center;
}

/* About us styles section */

#about-us {
  background-color: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#about-us ul li {
  margin: 10px 0;
}

#about-us ul {
  margin-left: 20px;
}

/* Testimonials & portfolios styles section */

#portfolios,
#testimonials {
  padding-bottom: 50px;
  padding-top: 50px;
}

.portfolios {
  border-left: 4px solid #7b1798;
  margin-top: 50px;
  margin-bottom: 50px;
}

.portfolios img {
  height: 130px;
  width: 130px;
  border-radius: 30%;
  margin: 0 10px;
  transition: 0.5s;
  transform: scale(0.8);
}

.workday-logo-link .workday-logo {
  height: 87px;
  width: 286px;
  border-radius: 2%;
  margin: 0 10px;
  transition: 0.5s;
  transform: scale(0.8);
}


.quiz-logo-link .quiz-logo {
  height: 130px;
  width: 230px;
  border-radius: 2%;
  margin: 0 10px;
  transition: 0.5s;
  transform: scale(0.8);
}


.map-logo-link .map-logo {
  height: 130px;
  width: 230px;
  border-radius: 2%;
  margin: 0 10px;
  transition: 0.5s;
  transform: scale(0.8);
}


.weather-logo-link .weather-logo {
  height: 130px;
  width: 230px;
  border-radius: 2%;
  margin: 0 10px;
  transition: 0.5s;
  transform: scale(0.8);
}


.portfolios a:hover img {
  transform: translateY(-10px);
}

.user-details {
  display: inline-block;
  font-size: 12px;
}

/* Social media styles section */

#social-media {
  background-color: #f8f9fa;
  padding: 100px 0;
}

#social-media h1.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img {
  width: 30px;
  transition: 0.5s;
}

.social-icons a:hover img {
  transform: translateY(-10px);
}

/* Footer styles section */

#footer {
  background-image: linear-gradient(to right, #a517ba, orange);
  color: #fff;
}

.footer-img {
  width: 100%;
}

.footer-box {
  padding: 20px;
}

.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #a517ba, orange);
}

.footer-box form {
  margin-top: 25px;
  max-width: 250px;
}

.footer-box label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-box .form-control,
.footer-box .btn-primary {
  box-shadow: none;
  border: none;
  border-radius: 0;
  background-image: linear-gradient(to right, #a517ba, orange);
  padding: 10px;
  width: 100%;
}

.footer-box .btn-primary {
  margin-top: 30px;
}

hr {
  background-color: #fff;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}

/* Password generator section */
.container {
  max-width: 600px;
}

.container h2 {
  font-size: 24px;
  padding: 5px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea {
  width: 100%;
}

button {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a517ba, orange);
  color: #fff;
  text-align: center;
}

#generate {
  margin-top: 10px;
  box-shadow: none;
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a517ba, orange);
  color: #fff;
  text-align: center;
  }
  
#password {
  line-height: 1;
}


/* Rock Paper Scissors section */

.result {
  margin-top: 20px;
  font-size: 24px;
}

button#start {
margin-top: 5px;
box-shadow: none;
padding: 8px 25px;
border: none;
border-radius: 20px;
background-image: linear-gradient(to right, #a517ba, orange);
color: #fff;
text-align: center;
}